---
import BarcodeGenerator from "../components/BarcodeGenerator";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout
  title="Your Clubcard"
  description="Your Clubcard barcode."
>
  <main class="clubcard-screen">
    <BarcodeGenerator client:load />
  </main>
</AppLayout>
